# -------------------------------------------------------------------------
# Rust & Cargo
# -------------------------------------------------------------------------
target/

# Copias de seguridad automáticas de algunos editores
**/*.rs.bk

# -------------------------------------------------------------------------
# SECRETS
# -------------------------------------------------------------------------

.env
.env.local
.env.*
*.pem
*.key

# -------------------------------------------------------------------------
# Windows
# -------------------------------------------------------------------------
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/


*.exe
*.pdb
*.dll


.vscode/
.idea/
*.iml
*.swp
*.swo

# -------------------------------------------------------------------------
# Protobuf 
# -------------------------------------------------------------------------
kafka_data/
zookeeper_data/