services:
  kafka:
    image: confluentinc/cp-kafka:7.6.0
    hostname: kafka
    container_name: kafka
    ports:
      - "9092:9092"
      - "9094:9094"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:9092,EXTERNAL://localhost:9094"
      KAFKA_LISTENERS: "PLAINTEXT://kafka:9092,CONTROLLER://kafka:9093,EXTERNAL://0.0.0.0:9094"

      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_LOG_DIRS: "/var/lib/kafka/data"

      CLUSTER_ID: "MkU3OEVBNTcwNTJENDM2Qk"

    healthcheck:
      test: nc -z localhost 9092 || exit 1
      interval: 10s
      timeout: 5s
      retries: 5

    # Necessary to start out cluster with KRaft
    command: >
      bash -c "
      if [ ! -f /var/lib/kafka/data/meta.properties ]; then
        echo 'Formatting storage...';
        kafka-storage format -t $$CLUSTER_ID -c /etc/confluent/docker/server.properties;
      fi;
      /etc/confluent/docker/run
      "

    volumes:
      - kafka_data:/var/lib/kafka/data

  init-kafka:
    image: confluentinc/cp-kafka:7.6.0
    depends_on:
      kafka:
        condition: service_started
    entrypoint: ["/bin/sh", "-c"]
    command: |
      "
      # Bloquea hasta que Kafka sea accesible
      echo -e 'Waiting for Kafka to be ready...'
      kafka-topics --bootstrap-server kafka:9092 --list

      echo -e 'Creating kafka topics...'
      kafka-topics --bootstrap-server kafka:9092 --create --if-not-exists --topic trades --replication-factor 1 --partitions 1

      echo -e 'Successfully created the following topics:'
      kafka-topics --bootstrap-server kafka:9092 --list
      "

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  timescaledb:
    image: timescale/timescaledb:latest-pg14
    ports:
      - "5444:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=crypto_db
    volumes:
      - timescale_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    ports:
      - "8080:8080"
    depends_on:
      - kafka

    environment:
      KAFKA_CLUSTERS_0_NAME: local-kraft
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
    restart: unless-stopped

  jaeger:
    image: jaegertracing/all-in-one:latest
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    ports:
      - "16686:16686"
      - "4317:4317"
      - "4318:4318"

  ingestor:
    build: .
    image: crypto-engine:latest
    command: ./ingestor
    depends_on:
      - kafka
    env_file: .env
    environment:
      - KAFKA_BROKER=kafka:9092

  processor:
    image: crypto-engine:latest
    command: ./processor
    restart: on-failure
    depends_on:
      timescaledb:
        condition: service_healthy
      kafka:
        condition: service_started
      redis:
        condition: service_started
      init-kafka:
        condition: service_completed_successfully
    environment:
      - DATABASE_URL=postgres://postgres:password@timescaledb:5432/crypto_db
      - REDIS_URL=redis://redis:6379
      - KAFKA_BROKER=kafka:9092
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4317
    env_file: .env

  gateway:
    image: crypto-engine:latest
    command: ./gateway
    restart: on-failure
    ports:
      - "3000:3000"
    depends_on:
      timescaledb:
        condition: service_healthy
      redis:
        condition: service_started
    environment:
      - DATABASE_URL=postgres://postgres:password@timescaledb:5432/crypto_db
      - REDIS_URL=redis://redis:6379
    env_file: .env

volumes:
  redis_data:
  kafka_data:
  timescale_data:
